<ion-view view-title="Done">
    <ion-content>
        <ul>
            <li class="item item-icon-left">
                <i class="icon ion-trophy energized"></i>
                <strong>Well done!</strong>
            </li>
        </ul>
        <ul class="list">
            <li class="item-divider padding-left">
                You logged <strong>{{workouts.length ? workouts.length : 0}} workouts</strong>.
            </li>
        </ul>
        <ion-list class="list">
            <ion-item ng-repeat="workout in workouts" class="item item-icon-right">
                <small>({{ workout.duration }} s) </small>
                <strong>{{ workout.name }}</strong>
                <ion-list>
                    <ion-item ng-repeat="set in workout.getWorkoutSets()">
                        <strong>Set #{{ $index + 1 }}:</strong> {{set.weight}} kg, {{set.reps}} reps
                    </ion-item>
                </ion-list>
            </ion-item>
        </ion-list>
        <button class="button button-block button-positive" ng-click="finish()">
            OK!
        </button>
    </ion-content>
</ion-view>
