<ion-view view-title="Done">
  <ion-content>
    <h1 class="title padding-top padding-left">Well done!</h1>
    <ul>
    	<li class="item item-icon-left"><i class="icon ion-trophy energized"></i>You hit a new PR for 10RM Backsquats!</li>
    </ul>
    </div>
    <ul class="list">
    	 <li class="item-divider padding-left">You logged <strong>3 sets</strong> of <strong>Backsquats</strong> in <strong>15:12</strong></li>
	    <li class="item">
	        <strong>Set: 01:32 - 102kg, 12 Reps</strong>
	      
	    </li>
	    <li class="item">
	        <strong>Set: 08:17 - 110kg, 10 reps</strong>
	         
	    </li>
	    <li class="item">
	        <strong>Set: 10:24 - 116 kg, 5 reps</strong>
	        
	    </li>
	</ul>
    <a class="button button-block button-positive" href="#/app/selection">
        OK!
    </a>
  </ion-content>
</ion-view>
