<ion-view view-title="History">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="session in loggedSessions">
                <strong>{{ session.startedAt|date:'fullDate' }}</strong>
                <table>
                    <tr ng-repeat="workout in session.getWorkouts()">
                        <td style="border: 1px solid #000; padding: 5px 5px">
                            {{ workout.name }}
                        </td>
                        <td style="border: 1px solid #000; padding: 5px 5px" 
                            ng-repeat="set in workout.getWorkoutSets()">
                            {{ set.weight }}x{{ set.reps }}
                        </td>
                    </tr>
                </table>
                <button class="button button-block button-assertive" ng-click="remove({{ session.id }})">Remove Log</button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
