<ion-view view-title="History">
    <ion-content>
        <div class="card" ng-repeat="session in loggedSessions">
            <ion-item class="item-divider">
                <strong>{{ session.startedAt|date:'fullDate' }}</strong>
            </ion-item>

            <ion-item ng-repeat="workout in session.getWorkouts()">
                <h2>
                    {{ workout.name }}
                </h2>
                <p>
                    <code ng-repeat="set in workout.getWorkoutSets()">
                        {{ set.weight }}x{{ set.reps }}
                    </code>
                </p>
            </ion-item>

            <ion-item class="tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#" ng-click="remove({{ session.id }})">
                  <i class="icon ion-trash-a assertive"></i>
                  Remove Log
                </a>
            </ion-item>
        </div>
    </ion-content>
</ion-view>
