<ion-view view-title="Select Workout">
    <ion-content>
        <div>
            <label class="item item-input item-select">
                <div class="input-label">
                    <strong>Muscle:</strong>
                </div>
                <select ng-options="item.label for item in muscleGroups track by item.label"
                        ng-model="$parent.selectedMuscleGroup"
                        ng-change="updateWorkouts()">
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    <strong>Workout:</strong>
                </div>
                <select ng-options="item.label for item in workouts"
                        ng-model="$parent.selectedWorkout"
                        ng-change="doSelect()">
                </select>
            </label>
            <button class="button button-block button-positive" ng-click="start()">
                Start!
            </button>
        </div>

        <div>        
            <h3 class="padding-left">Latest logged sessions:</h3>
            <ion-list>
                <ion-item class="item-divider" ng-repeat="session in loggedSessions">
                    <strong>{{ session.startedAt|date:'fullDate' }}</strong>
                    <ul class="list">
                        <li class="item" ng-repeat="workout in session.getWorkouts()">
                            {{ workout.name }}
                        </li>
                    </ul>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
