<ion-view view-title="Selection">
  <ion-content>
    <h1>Selection</h1>
    <p>
        <select>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </p>
    <p>
        <select>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </p>
    <ion-item href="#/app/workout">
        click to a workout
    </ion-item>
  </ion-content>
</ion-view>
