<ion-view view-title="Select Workout">
    <ion-content>
        <form class="card">
            <label class="item item-select">
                <label class="input-label">Muscle:</label>
                <select ng-model="selection.muscleGroup"
                        ng-change="updateWorkouts()">
                    <option ng-repeat="group in muscleGroups|orderBy:'count' track by group.label"
                            value="{{ group.label }}">({{  group.count }}) {{ group.label }}</option>
                </select>
            </label>
            <label class="item item-select">
                <label class="input-label">Workout:</label>
                <select ng-options="workout.value as workout.label for workout in workouts|orderBy:'count'"
                        ng-model="selection.workout"
                        ng-change="doSelect()">
                </select>
            </label>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#" ng-click="start()">
                  <i class="icon ion-flash positive"></i>
                  Start!
                </a>
            </div>
        </form>

        <div class="card" ng-repeat="image in selection.workout.images track by $index">
            <div class="item item-image">
                <img ng-src="{{ image }}">
            </div>
        </div>

        <div>
            <h3 class="padding-left">Latest logged sessions:</h3>
            <ion-list>
                <ion-item class="item-divider" ng-repeat="session in loggedSessions">
                    <strong>{{ session.startedAt|date:'fullDate' }}</strong>
                    <ul class="list">
                        <li class="item" ng-repeat="workout in session.getWorkouts()">
                            {{ workout.name }}
                        </li>
                    </ul>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
