<ion-view view-title="Workout">
    <ion-content>
        <h1 class="title padding-top" style="text-align:center;">15:34:12</h1>
        <div class="list">
             <label class="item item-input item-select">
                <div class="input-label">
                    Reps
                </div>
                <select>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="1">5</option>
                    <option value="2">6</option>
                    <option value="3">7</option>
                    <option value="4">8</option>
                    <option value="3">9</option>
                    <option value="4">10</option>
                    <option value="1">11</option>
                    <option value="2">12</option>
                    <option value="3">13</option>
                    <option value="4">14</option>
                    <option value="1">15</option>
                    <option value="2">16</option>
                    <option value="3">17</option>
                    <option value="4">18</option>
                    <option value="3">19</option>
                    <option value="4">20</option>
                    <option value="1">21</option>
                    <option value="2">22</option>
                    <option value="3">23</option>
                    <option value="4">24</option>
                    <option value="1">25</option>
                    <option value="2">26</option>
                    <option value="3">27</option>
                    <option value="4">28</option>
                    <option value="3">29</option>
                    <option value="4">30</option>
                    <option value="1">31</option>
                    <option value="2">32</option>
                    <option value="3">33</option>
                    <option value="4">34</option>
                    <option value="1">35</option>
                    <option value="2">36</option>
                    <option value="3">37</option>
                    <option value="4">38</option>
                    <option value="3">39</option>
                    <option value="4">40</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Weight
                </div>
                <select>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="1">5</option>
                    <option value="2">6</option>
                    <option value="3">7</option>
                    <option value="4">8</option>
                    <option value="3">9</option>
                    <option value="4">10</option>
                    <option value="1">11</option>
                    <option value="2">12</option>
                    <option value="3">13</option>
                    <option value="4">14</option>
                    <option value="1">15</option>
                    <option value="2">16</option>
                    <option value="3">17</option>
                    <option value="4">18</option>
                    <option value="3">19</option>
                    <option value="4">20</option>
                    <option value="1">21</option>
                    <option value="2">22</option>
                    <option value="3">23</option>
                    <option value="4">24</option>
                    <option value="1">25</option>
                    <option value="2">26</option>
                    <option value="3">27</option>
                    <option value="4">28</option>
                    <option value="3">29</option>
                    <option value="4">30</option>
                    <option value="1">31</option>
                    <option value="2">32</option>
                    <option value="3">33</option>
                    <option value="4">34</option>
                    <option value="1">35</option>
                    <option value="2">36</option>
                    <option value="3">37</option>
                    <option value="4">38</option>
                    <option value="3">39</option>
                    <option value="4">40</option>
                    <option value="1">41</option>
                    <option value="2">42</option>
                    <option value="3">43</option>
                    <option value="4">44</option>
                    <option value="1">45</option>
                    <option value="2">46</option>
                    <option value="3">47</option>
                    <option value="4">48</option>
                    <option value="3">49</option>
                    <option value="4">50</option>
                    <option value="1">51</option>
                    <option value="2">52</option>
                    <option value="3">53</option>
                    <option value="4">54</option>
                    <option value="1">55</option>
                    <option value="2">56</option>
                    <option value="3">57</option>
                    <option value="4">58</option>
                    <option value="3">59</option>
                    <option value="4">60</option>
                    <option value="1">61</option>
                    <option value="2">62</option>
                    <option value="3">63</option>
                    <option value="4">64</option>
                    <option value="1">65</option>
                    <option value="2">66</option>
                    <option value="3">67</option>
                    <option value="4">68</option>
                    <option value="3">69</option>
                    <option value="4">70</option>
                    <option value="1">71</option>
                    <option value="2">72</option>
                    <option value="3">73</option>
                    <option value="4">74</option>
                    <option value="1">75</option>
                    <option value="2">76</option>
                    <option value="3">77</option>
                    <option value="4">78</option>
                    <option value="3">79</option>
                    <option value="4">80</option>
                    <option value="1">81</option>
                    <option value="2">82</option>
                    <option value="3">83</option>
                    <option value="4">84</option>
                    <option value="1">85</option>
                    <option value="2">86</option>
                    <option value="3">87</option>
                    <option value="4">88</option>
                    <option value="3">89</option>
                    <option value="4">90</option>
                    <option value="1">91</option>
                    <option value="2">92</option>
                    <option value="3">93</option>
                    <option value="4">94</option>
                    <option value="1">95</option>
                    <option value="2">96</option>
                    <option value="3">97</option>
                    <option value="4">98</option>
                    <option value="3">99</option>
                    <option value="4">100</option>
                    <option value="1">101</option>
                    <option value="2">102</option>
                    <option value="3">103</option>
                    <option value="4">104</option>
                    <option value="1">105</option>
                    <option value="2">106</option>
                    <option value="3">107</option>
                    <option value="4">108</option>
                    <option value="3">109</option>
                    <option value="4">110</option>
                    <option value="1">111</option>
                    <option value="2">112</option>
                    <option value="3">113</option>
                    <option value="4">114</option>
                    <option value="1">115</option>
                    <option value="2">116</option>
                    <option value="3">117</option>
                    <option value="4">118</option>
                    <option value="3">119</option>
                    <option value="4">120</option>
                    <option value="1">121</option>
                    <option value="2">122</option>
                    <option value="3">123</option>
                    <option value="4">124</option>
                    <option value="1">125</option>
                    <option value="2">126</option>
                    <option value="3">127</option>
                    <option value="4">128</option>
                    <option value="3">129</option>
                    <option value="4">130</option>
                    <option value="1">131</option>
                    <option value="2">132</option>
                    <option value="3">133</option>
                    <option value="4">134</option>
                    <option value="1">135</option>
                    <option value="2">136</option>
                    <option value="3">137</option>
                    <option value="4">138</option>
                    <option value="3">139</option>
                    <option value="4">140</option>
                    <option value="1">141</option>
                    <option value="2">142</option>
                    <option value="3">143</option>
                    <option value="4">144</option>
                    <option value="1">145</option>
                    <option value="2">146</option>
                    <option value="3">147</option>
                    <option value="4">148</option>
                    <option value="3">149</option>
                    <option value="4">150</option>
                    <option value="1">151</option>
                    <option value="2">152</option>
                    <option value="3">153</option>
                    <option value="4">154</option>
                    <option value="1">155</option>
                    <option value="2">156</option>
                    <option value="3">157</option>
                    <option value="4">158</option>
                    <option value="3">159</option>
                    <option value="4">160</option>
                    <option value="1">161</option>
                    <option value="2">162</option>
                    <option value="3">163</option>
                    <option value="4">164</option>
                    <option value="1">165</option>
                    <option value="2">166</option>
                    <option value="3">167</option>
                    <option value="4">168</option>
                    <option value="3">169</option>
                    <option value="4">170</option>
                    <option value="1">171</option>
                    <option value="2">172</option>
                    <option value="3">173</option>
                    <option value="4">174</option>
                    <option value="1">175</option>
                    <option value="2">176</option>
                    <option value="3">177</option>
                    <option value="4">178</option>
                    <option value="3">179</option>
                    <option value="4">180</option>
                    <option value="1">181</option>
                    <option value="2">182</option>
                    <option value="3">183</option>
                    <option value="4">184</option>
                    <option value="1">185</option>
                    <option value="2">186</option>
                    <option value="3">187</option>
                    <option value="4">188</option>
                    <option value="3">189</option>
                    <option value="4">190</option>
                    <option value="1">191</option>
                    <option value="2">192</option>
                    <option value="3">193</option>
                    <option value="4">194</option>
                    <option value="1">195</option>
                    <option value="2">196</option>
                    <option value="3">197</option>
                    <option value="4">198</option>
                    <option value="3">199</option>
                    <option value="4">200</option>
                </select>
            </label>
        </div>
        <button href="#" class="button button-block button-positive" ng-click="addSet(set)">
            Add set
        </button>
    </div>
    <p>
        <a nav-clear menu-close ng-click="$ionicGoBack($event)" class="button button-block button-outline button-positive">
            Switch exercise
        </a>
        <a ng-click="done()" href="#/app/done" class="button button-block button-outline button-positive">
            Finish workout
        </a>
        <div class="item item-divider">
            Logged sets
        </div>

        <ion-list class="list">
            <ion-item ng-repeat="set in sets" class="item item-icon-right">
                    <strong>Set: 01:32 - {{set.weight}}kg, {{set.reps}} Reps</strong>
                    <i class="icon ion-close-circled assertive"></i>
            </ion-item>
        </ion-list>
    </p>
    </ion-content>
    <div class="bar bar-footer bar-balanced">
        <div class="title">Set added!</div>
    </div>
</ion-view>
