<ion-view view-title="Workout">
  <ion-content>
    <h1>Workout</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed quae, maxime fugiat ullam aspernatur adipisci, animi fuga delectus veniam odit molestias assumenda in eaque corporis. Veritatis esse laborum labore, corrupti!
    </p>
    <ion-item href="#">
        Add set
    </ion-item>
    <ion-item href="#/app/selection">
        Next workout
    </ion-item>
    <ion-item href="#/app/done">
        Done
    </ion-item>
  </ion-content>
</ion-view>
